# Supabase 项目地址（Settings -> API -> Project URL）
NEXT_PUBLIC_SUPABASE_URL=https://ixyxifiuzlkdtmuimnsa.supabase.co

# Supabase 匿名公钥（Settings -> API -> anon public key）
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4eXhpZml1emxrZHRtdWltbnNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2NjM4MzAsImV4cCI6MjA4ODIzOTgzMH0.SKK2sd3hrP7g4dfEyVO_2reBCLz30jCaqjjIYhdyhWA
